/* ______________ Block Header ______________ */

@media screen and (max-width: 820px) and (min-width: 320px) {
    .header {
        font-size: 12px;
        position: relative;
    }

    .header__container {
        justify-content: space-between;
        padding: 5px 20px;
    }

    .header__link {
        display: none;
    }

    .header__nav a {
        font-size: 20px;
    }

    .header__nav li+li {
        margin-left: 20px;
    }

    .header__nav li {
        margin-left: 30px;
    }

    .link__media {
        display: block;
    }

    .link__media:hover {
        color: #B9B2B2;
        border-bottom: 2px solid #B9B2B2;
    }

    .header__item-btn {
        padding: 14px 40px;
    }

    .header__item-btn i {
        display: none;
    }

    .select {
        display: none;
    }

    .hero {
        height: 100vh;
        margin-top: -100px;
    }

    .hero__title {
        font-size: 35px;
        background-color: rgba(230, 230, 240, 0.1);
        border-radius: 25px;
        margin: 0 215px 55px;
    }

    .hero__text {
        line-height: 1.4;
        background-color: rgba(230, 230, 240, 0.4);
        border-radius: 25px;
        margin: 18px 2px 43px;
    }

    .hero__content-btn {
        opacity: 90%;
        font-weight: 500;
    }

    .hero__content-btn i {
        display: none;
    }

    .footer__content {
        flex-direction: column;
    }

    .social__icons {
        margin-bottom: 40px;
    }

    .footer__content-requisites {
        text-align: center;
    }

    .footer__content-social {
        margin: 40px;
    }

    .footer__title {
        text-align: center;
    }

    .contact__address h3,
    .contact__mail h3,
    .contact__phone h3 {
        display: none;
    }

    .footer__content-contacts {
        text-align: center;
    }

    .contact__address,
    .contact__mail,
    .contact__phone {
        justify-content: center;
        margin-right: 40px;
    }
}

/* block 4/5 */

@media screen and (max-width: 1120px) {
    .block4__container {
        grid-template-columns: repeat(2, 400px);
    }

    .event3 {
        display: none;
    }
}

@media screen and (max-width: 820px)and (min-width: 420px) {
    .block5__main {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .block4__container {
        grid-template-columns: repeat(1, 400px);
    }

    .block5 {
        height: 800px;
    }

    .event2 {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .block5__main-donate_area {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}