@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Lora:wght@400;500;600&display=swap');

/* Fonts:
font-family: 'Lora', serif;
font-family: 'Caveat', cursive;

Colors:
Розовый FEBCE2;
Серый B9B2B2;
Черный 22211F;
 */

/* ______________ Сommon styles ______________ */
body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 15px;
}

/* ______________ Block Header ______________ */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 20px 0;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__logo {
    width: 100px;
    height: 50%;
}

.header__nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header__nav li+li {
    margin-left: 40px;
}

.header__nav a {
    font-size: 16px;
    font-weight: 500;
    color: #22211F;
    transition: color 0.3s;
}

.header__item-btn a:hover {
    border-bottom: none;
}

.header__nav a:hover {
    color: #B9B2B2;
    border-bottom: 1px solid #B9B2B2;
}

.header__item-btn {
    border: 1px solid #FEBCE2;
    background-color: #FEBCE2;
    border-radius: 30px;
    padding: 6px 18px;
}

.header__item-btn a {
    font-size: 25px;
    font-weight: 500;
}

.header__btn {
    display: flex;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.header__btn img {
    width: 100px;
    height: 50%;
}

.header__item-btn i {
    font-size: 25px;
    margin: 3px 0 0 15px;
}

/* ______________ Main Banner ______________ */

.hero {
    position: relative;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.hero>.container {
    flex-basis: 100%;
}

.hero_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hero_title {
    font-size: 85px;
    font-weight: 400;
    line-height: 1.25;
    color: #22211F;
    margin-top: 0;
}

.hero_text {
    font-size: 45px;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    line-height: 1.5;
    color: #FEBCE2;
    margin: 5px 25px;
}

.hero_title,
.hero_text {
    text-align: center;
}