@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Lora:wght@400;500;600&display=swap');

/* Fonts:
font-family: 'Lora', serif;
font-family: 'Caveat', cursive;

Colors:
Розовый FEBCE2;
Серый B9B2B2;
Черный 22211F;
 */

/* ______________ Сommon styles ______________ */

html {
    scroll-behavior: smooth;
    /* плавная прокрутка якорных ссылок */
}

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 15px;
}

/* ______________ Block Header ______________ */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 20px 0;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    opacity: 90%;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__logo {
    width: 100px;
    height: 50%;
}

.header__nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header__nav li+li {
    margin-left: 40px;
}

.header__nav a {
    font-size: 16px;
    font-weight: 500;
    color: #22211F;
    transition: color 0.3s;
}

.header__item-btn a:hover {
    border-bottom: none;
}

.header__nav a:hover {
    color: #B9B2B2;
    border-bottom: 2px solid #B9B2B2;
}

.header__item-btn {
    border: 1px solid #FEBCE2;
    background-color: #FEBCE2;
    border-radius: 30px;
    padding: 6px 18px;
    cursor: pointer;
}

.header__item-btn:hover {
    background-color: #B9B2B2;
}

.header__item-btn a {
    font-size: 25px;
    font-weight: 500;
}

.header__item-btn a:last-child:hover {
    color: #22211F;
    border-bottom: none;
}

.header__btn {
    display: flex;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.header__btn img {
    width: 100px;
    height: 50%;
}

.header__item-btn i {
    font-size: 25px;
    margin: 3px 0 0 15px;
}

.select {
    font-size: 20px;
    font-family: 'Caveat', cursive;
    margin-left: 25px;
}

/* ______________ Main Banner ______________ */

.hero {
    min-height: 700px;
    height: 130vh;
    margin-top: -40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    background-image: url("../images/main.banner02.jpg");
    background-size: cover;
}

.hero>.container {
    flex-basis: 100%;
}

.hero__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hero__content {
    text-align: center;
}

.hero__title {
    font-size: 85px;
    font-weight: 400;
    line-height: 1.25;
    color: #22211F;
    margin-top: 55px;
}

.hero__text {
    font-size: 30px;
    font-weight: 300;
    max-width: 100vw;

    font-family: 'Caveat', cursive;
    font-weight: 500;
    line-height: 1.2;

    color: #22211F;
    background-color: rgba(240, 240, 240, 0.2);
    border-radius: 50px;

    margin: 18px 25px 50px;
}

.hero__content-btn {
    font-size: 30px;
    font-family: 'Caveat', cursive;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 80px;

    cursor: pointer;
    background-color: #FEBCE2;
    opacity: 80%;
}

.hero__content-btn:hover {
    background-color: #B9B2B2;
}

.hero__content-btn i {
    margin-left: 20px;
}

/* ______________  Block 2/3 (Karina) ______________ */


/* ______________  Block 3/4 (Nastia) ______________ */


/* ______________  Block 6/7 (Anna) ______________ */

.container_block6 {
    display: grid;
    grid-template-rows: 30% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "h_block6 h1_block6 h1_block6"
        "project1 project2 project3";
}

.h_block6 {
    grid-area: h_block6;
}

.project1 {
    grid-area: project1;
    display: grid;
    grid-template-rows: 40% 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image_project1"
        "name_project1"
        "text_project1"
        "moreaboutprojects_btn";
}

.project2 {
    grid-area: project2;
    display: grid;
    grid-template-rows: 40% 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image_project2"
        "name_project2"
        "text_project2"
        "moreaboutprojects_btn";
}

.project3 {
    grid-area: project3;
    display: grid;
    grid-template-rows: 40% 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image_project3"
        "name_project3"
        "text_project3"
        "moreaboutprojects_btn";
}

.image_project1 {
    grid-area: image_project1;
    width: 350px;
    height: 200px;
}

.name_project1 {
    grid-area: name_project1;
}

.text_project1 {
    grid-area: text_project1;
}

.moreaboutprojects_btn {
    grid-area: moreaboutprojects_btn;
}

.image_project2 {
    grid-area: image_project2;
    width: 350px;
    height: 200px;
}

.name_project2 {
    grid-area: name_project2;
}

.text_project2 {
    grid-area: text_project2;
}

.image_project3 {
    grid-area: image_project3;
    width: 350px;
    height: 200px;
}

.name_project3 {
    grid-area: name_project3;
}

.text_project3 {
    grid-area: text_project3;
}



/* ______________  Block 8 (Karina) ______________ */


/* ______________  Footer (Lera) ______________ */